{% extends "layout.html" %}
{% block content %}

    <h1>Recipe Generator</h1>
    <h2>These are recommended recipes containing: {{recipe_name}}</h2>

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-3">
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{{ recipe.f2f_url }}">{{ recipe.title }}</a>
                                <p><small class="text-muted"> {{ recipe.publisher }}</small></p>

                                    <img src="{{ recipe.image_url }}" class="img-fluid" width="auto" height="auto" alt="Responsive image">
                            </div>

                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>





{% endblock content %}